 body
 {
	 font-family: Verdana;
	 padding: 30px;
     width: 1250px;
     height: 4900px;
	 text-align: center;
	 border-left: 2px solid rgba(75, 8, 161, 0.877);
     border-right: 2px solid rgba(75, 8, 161, 0.877);
     margin:auto;
	 color:rgba(75, 8, 161, 0.877);
 }

 div
 {
   margin: auto;
 }
 
 h1
 {
     padding: 50px;
 }
 .h1
 {
	 font-size: 100px;
	 padding: 50px;
 }

 ul
 {
     font-size:70px;
 }

 p
 {
	 font-size:25px;
 }

.img1
{
     width: 60%;
	 margin: auto;
}
</style>




